
.container-sm, .footer {
    color: white;
    margin-top: 120px;
    background-color: rgba(16, 40, 79, 0.85);
    border-radius: 16px;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid white;
}

.footer a{
    text-decoration: none;
}

.list-group-item {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.puzzle_container {
    width: 200px;
    height: 200px;
    margin: 1px;
    padding: 1px;
}

@media (max-width: 768px) {
    .puzzle_container {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 576px) {
    .puzzle_container {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 330px) {
    .puzzle_container {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 225px) {
    .puzzle_container {
        width: 20px;
        height: 20px;
    }
}
