
.container-sm, .footer {
    color: white;
    margin-top: 120px;
    background-color: rgba(16, 40, 79, 0.85);
    border-radius: 16px;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid white;
}

.footer a{
    text-decoration: none;
}

.list-group-item {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
}

.puzzle_container {
    width: 200px;
    height: 200px;
    margin: 1px;
    padding: 1px;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 2px solid;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: grey;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: blue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .puzzle_container {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 576px) {
    .puzzle_container {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 330px) {
    .puzzle_container {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 225px) {
    .puzzle_container {
        width: 20px;
        height: 20px;
    }
}
